<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buscar Funcionários</title>
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div>
    <h1>Hello World</h1>
    <p>Hoje é:
        <span id="data"></span></p>

    <p>Agora são:
        <span id="hora"></span></p>
</div>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(funcionarios)}">
        <td colspan="3">Nenhum funcionário encontrado.</td>
    </tr>

    <tr th:each="funcionario : ${funcionarios}">
        <td th:text="${funcionario.nome}">Nome</td>
        <td th:text="${funcionario.cpf}">CPF</td>
        <td><a th:href="@{/funcionarios/editar/{id}(id=${funcionario.funcionarioId})}">Editar</a></td>
        <td><a th:href="@{/funcionarios/excluir/{id}(id=${funcionario.funcionarioId})}">Excluir</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>